/* Main container */
.heroContainer {
    margin: 66px auto;
    padding: 1.5rem;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-between;
  }
  
  @media (min-width: 768px) {
    .heroContainer {
      max-width: 1030px;
      height: 308px;
      flex-direction: row;
    }
  }
  
  /* Text container */
  .textContainer {
    width: 90%;
    max-width: 521px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
  }
  
  .heroTitle {
    font-size: 27px;
    font-weight: 900;
    color: var(--myBlack);
    line-height: 1.2;
  }
  
  @media (min-width: 768px) {
    .heroTitle {
      font-size: 48px;
    }
  }
  
  .heroDescription {
    font-size: 16px;
    font-weight: 500;
    color: var(--myBlack);
  }
  
  .heroButton {
    width: 205px;
    height: 50px;
    margin-top: 10px;
    background-color: var(--myPink);
    color: white;
    background-color: #f98585;
    font-size: 18px;
    font-weight: 500;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.45);
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .heroButton:hover {
    background-color: #d93b6e;
  }
  
  /* Image container */
  .imageContainer {
    width: 292px;
    height: 299px;
    position: relative;
  }
  
  .heroImage {
    border-radius: 50%;
    z-index: 1;
  }
  
  .backgroundCircle {
    width: 292px;
    height: 299px;
    background-color: var(--heroSalam);
    position: absolute;
    top: 8px;
    right: 8px;
    border-radius: 50%;
    z-index: 0;
  }
  